<div class="header center coontainer-fluid">
    <div class="row row-centered" style="width:100%">
        <div class="col-md-3">
            <div class="vcenter">
                <img width="250" border="0" align="bottom" height="244" src="{{ site.baseurl }}/resources/images/snap_nav.gif" class="navbar" alt="Your Navigation Bar didn't load." title="Click me to navigate." usemap="#gobo">
                <div style="position:absolute;top:60px;left:220px;z-index:40;">
                    <img src="{{ site.baseurl }}/resources/images/blank.gif" name="speech" />
                </div>
                <map name="gobo">
                    <area shape="rect" coords="0,70,110,97" alt="Overview" href="{{ site.baseurl }}/#overview" onmouseover="displaySpeech('speech', '{{ site.baseurl }}/resources/images/overview_jump.gif')" onmouseout="displaySpeech('speech', '{{ site.baseurl }}/resources/images/blank.gif')">
                    <area shape="rect" coords="0,97,76,124" alt="News" href="{{ site.baseurl }}/#news" onmouseover="displaySpeech('speech', '{{ site.baseurl }}/resources/images/news_jump.gif')" onmouseout="displaySpeech('speech', '{{ site.baseurl }}/resources/images/blank.gif')">
                    <area shape="rect" coords="0,124,105,151" alt="Calendar" href="{{ site.baseurl }}/#calendar" onmouseover="displaySpeech('speech', '{{ site.baseurl }}/resources/images/calendar_jump.gif')" onmouseout="displaySpeech('speech', '{{ site.baseurl }}/resources/images/blank.gif')">
                    <area shape="rect" coords="0,151,72,178" alt="Staff" href="{{ site.baseurl }}/#staff" onmouseover="displaySpeech('speech', '{{ site.baseurl }}/resources/images/staff_jump.gif')" onmouseout="displaySpeech('speech', '{{ site.baseurl }}/resources/images/blank.gif')">
                    <area shape="rect" coords="0,178,97,205" alt="Grades" href="{{ site.baseurl }}/#grading" onmouseover="displaySpeech('speech', '{{ site.baseurl }}/resources/images/grading_jump.gif')" onmouseout="displaySpeech('speech', '{{ site.baseurl }}/resources/images/blank.gif')">
                    <area shape="rect" coords="0,205,117,232" alt="{{ site.baseurl }}/resources" href="{{ site.baseurl }}/#resources" onmouseover="displaySpeech('speech', '{{ site.baseurl }}/resources/images/resources_jump.gif')" onmouseout="displaySpeech('speech', '{{ site.baseurl }}/resources/images/blank.gif')">
                </map>
            </div>
        </div>
        <div class="col-md-6">
            <br><br><br>
            <h2 class="logo">CS10</h2>
            <h2 class="logo">The Beauty &amp; Joy of Computing</h2>
            <h2 class="logo">Spring 2015</h2>
        </div>
        <div class="col-md-3">
            <div class="vcenter right">
                <br><br>
                <a href="http://bjc.berkeley.edu/">
                    <img border="0" src="{{ site.baseurl }}/resources/images/bjc186.png" alt="BJC logo">
                </a>
            </div>
        </div>
    </div>
  </div>