  <h1 class="text-center" id="quicklinks">Quick Links</h1>
  <div class="container-fluid">
      <div class="row text-center">
          <div class="col-md-2 lambda">
              <a target="_blank" class="snap" style="font:120%" href="http://snap.berkeley.edu/run/">Snap</a>
          </div>
          <div class="col-md-2 lambda">
              <a target="_blank" href="https://piazza.com/{{ site.piazzaURL }}">Piazza</a>
          </div>
          <div class="col-md-2 lambda">
              <a target="_blank" href="{{ site.labsurl }}/course/{{ site.labsCourse }}">Labs</a>
          </div>
          <div class="col-md-2 lambda">
              <a target="_blank" href="https://bcourses.berkeley.edu/courses/{{ site.bCourses }}">bCourses</a>
          </div>
          <div class="col-md-2 lambda">
            <a target="_blank" href="http://webcast.berkeley.edu/playlist#c,s,Fall_2014,-XXv-cvA_iCajFbSJ4q3ApmKtT7RL3wQ">Webcasts</a>
          </div>
          <div class="col-md-2 lambda">
            <a href="{{ site.baseurl }}/assign.html?https://docs.google.com/document/d/1Ni9aqcYb9sRVF7JI93M8M_7CIqXiFKL_Oy8B2cBWzPg/pub">Course Policies</a>
          </div>
      </div>
      <br />
      <div class="row text-center">
          <div class="col-md-4 lambda">
              <a href="{{ site.baseurl }}/labquestions/">Lab Check-Off Questions</a>
          </div>
          <div class="col-md-4 lambda">
              <a href="{{ site.baseurl }}/slipdays/">Check Your Slip Days</a>
          </div>
          <div class="col-md-4 lambda">
              <a href="{{ site.baseurl }}/resources/exams/">Practice Exams</a>
          </div>
      </div>
  </div>
  <div class="clearfix"></div>